body {
    font-family: 'jetbrains mono', monospace;
    color: gold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(design4.png);
}

h1 {
    color: #08d412;
    text-align: center;
    margin-top: 20px;
}